__pycache__/
*.pyc
*.log
*.sqlite3
shared_artifacts/models/*.pkl
shared_artifacts/models/*.keras
shared_artifacts/data/*.sqlite
.vscode/
.idea/
.DS_Store

# ignore directories
utils/
model/
ml_service/images/


docker-compose.override.yml

shared_artifacts/images
