*.pyc
*.log
*.sqlite3
.DS_Store
docker-compose.override.yml

# ignore directories
utils/mediapipe_cropper
utils/resizer
model/
ml_service/images/
shared_artifacts/models/*.pkl
shared_artifacts/models/*.keras
shared_artifacts/data/*.sqlite
shared_artifacts/images
shared_artifacts/images-old
.vscode/
.idea/
.env/
__pycache__/