services:
  ml-training:
      build: ./ml_service
      container_name: ml-training
      volumes:
        - ./ml_service:/workspace
        - ./shared_artifacts/models:/models
        - ./shared_artifacts/data:/data
        - ./shared_artifacts/images:/images
      environment:
        - MODEL_OUTPUT_PATH=/models
      profiles: ["training"]
      command: python src/train.py --epochs 15 --set-active

  ml-training-cpu:
    build: ./ml_service
    container_name: ml-training-cpu
    volumes:
      - ./ml_service:/workspace
      - ./shared_artifacts/models:/models
      - ./shared_artifacts/data:/data
      - ./shared_artifacts/images:/images
    environment:
      - CUDA_VISIBLE_DEVICES=-1
      - MODEL_OUTPUT_PATH=/models
    profiles: ["training-cpu"]
    command: python src/train.py --epochs 10 --set-active

  web:
    build: ./web_app
    container_name: web
    volumes:
      - ./web_app:/app
      - ./shared_artifacts/models:/models
      - ./shared_artifacts/data:/data
    ports:
      - "8001:8001"
    environment:
      - DJANGO_SETTINGS_MODULE=config.settings.development
      - MODEL_PATH=/models
      - DATABASE_PATH=/data/database.sqlite
      - ALLOWED_HOSTS=localhost,frontend
      - GRAYSCALE_URL='http://127.0.0.1:8001/grayscale/'
      - FLIP_URL='http://127.0.0.1:8001/flip/'
      - HOST_URL='http://127.0.0.1:8001/'
      - DEBUG_SAVE='True'

  frontend:
    build: ./frontend
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    environment:
      - VITE_API_URL=http://localhost:8000
      - CHOKIDAR_USEPOLLING=true
