services:
  ml-training-landmarks:
    build: ./ml_service_landmarks
    container_name: ml-training-landmarks
    volumes:
      - ./ml_service_landmarks:/workspace
      - ./shared_artifacts/models:/models
      - ./shared_artifacts/images:/images
      - ./shared_artifacts/data:/data
    environment:
      - MODEL_OUTPUT_PATH=/models
      - LANDMARKS_DB_PATH=/data/landmarks.sqlite
      - RAW_IMAGES_PATH=/images
      - LANDMARK_DETECTOR_PATH=/models/hand_landmarker.task
      - INFERENCE_API_URL=http://ml-inference-landmarks:8000
      - PORT=8003
      - PYTHONPATH=/workspace # to resolve import via src.preprocess_data in tests
      - PYTHONBUFFERED=1
    ports:
      - "8003:8003"

  ml-inference-landmarks:
    build: ./ml_inference_landmarks
    container_name: ml-inference-landmarks
    volumes:
      - ./shared_artifacts/models:/models
    environment:
      - ACTIVE_MODEL_PATH=/models/active_model.json
      - MODEL_PATH=/models
      - PYTHONUNBUFFERED=1

  web:
    build:
      context: ./web_app
      target: dev
    container_name: web
    volumes:
      - ./web_app:/app
      - ./shared_artifacts/models:/models
      - ./shared_artifacts/data:/data
      - ./shared_artifacts/images:/images
    ports:
      - "8001:8001"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    environment:
      - DJANGO_SETTINGS_MODULE=config.settings.development
      - MODEL_PATH=/models
      - DATABASE_PATH=/data/database.sqlite
      - LANDMARKS_DB_PATH=/data/landmarks.sqlite
      - MEDIA_ROOT=/images
      - ALLOWED_HOSTS=localhost,frontend
      - INFERENCE_URL=http://ml-inference-landmarks:8002/inference
      - HOST_URL=http://127.0.0.1:8001/
      - DEBUG_SAVE=False
      - ML_TRAINING_API_URL=http://ml-training-landmarks:8003
      - PYTHONBUFFERED=1

  frontend:
    build:
      context: ./frontend
      target: dev
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    environment:
      - VITE_WS_URL=ws://localhost:8001/ws/landmarks/
      - CHOKIDAR_USEPOLLING=true
