.popup-overlay {
    position: fixed; /* ignore parent(reveal.js) layout */
    inset: 0; /* make sure that everything behind the popup is not clickable */
    z-index: 9999; /* force the popup to be on top*/
    background: rgba(0, 0, 0, 0.55);

    display: flex;
    align-items: center;     /* vertical center */
    justify-content: center; /* horizontal center */
}

.popup {
    background: #fff;
    color: #111;
    padding: 20px;
    border-radius: 10px;
    min-width: 280px;
    max-width: 90vw;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
    text-align: center;
}

.popup-title {
    margin: 0 0 12px;
    font-size: 1.25rem;
    font-weight: 600;
}

.popup-instruction {
    margin: 8px 0;
    font-size: 0.95rem;
    color: #444;
}

