.reveal {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.reveal .slides {
  width: 100%;
  height: 100%;
}

.reveal section canvas {
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
}
