.page {
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90%;
    width: 100%;
}

.upload-slides {
    z-index: 10;
}

.title {
    font-size: 3cap;
    font-weight: bold;
}

.sub-title {
    font-size: 1.5cap;
    color: #888;
}

.hint-title {
    font-size: 1.2cap;
    color: #aaa;
}

.page-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2cap;
}

.reveal {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.reveal .slides {
  width: 100%;
  height: 100%;
}

.reveal section canvas {
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
}
