.streams-view {
    position: fixed;
    bottom: 2vw;
    left: 2vw;
    width: 12vw;
    height: calc(12vw * (9 / 16) * 2 + 24px);
    margin: 0 auto;
}

.control-topbar {
    height: 24px;
    background-color: #6d6d6d;
    display: flex;
    align-items: center;
}

.video-container {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.video-wrapper-instance {
    flex: 1;
    height: 50%;
}

.video-wrapper-instance:first-child {
    border-bottom: 2px solid #333;
}
