.streams-view {
    position: fixed;
    bottom: 2vw;
    left: 2vw;
    width: 12vw;
    height: calc(12vw * (9 / 16) * 2 + 24px);
    margin: 0 auto;
}

.video-container {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.video-wrapper-instance {
    flex: 1;
    height: 80%;
}