/*
 Contributors:
- Ahmet
- Yaroslav

*/
.home-page {
  position: relative;
}

/* webcam stream window */
.streams-overlay {
  position: fixed;
  left: 1vw;   /* distance from left edge */
  bottom: 1vw; /* distance from bottom */
  width: 20vw;
  height: auto;
  z-index: 9999; /* must be very high to stay above reveal.js */
  background: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  padding: 5px;
}
